.backgroundDark{
    display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-around;
  background: linear-gradient(to right, #C9C9C9, #FFF);
  width: 100%;
}

.photoProfile{
    width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;

}

.backgroundDark h1 {
    margin: 0px;
  color: white;
  font-size: 4rem;
  font-style: italic;
  border-bottom: 16px solid #DCDCDC;
}
.backgroundDark p{
    padding: 0px;
  color: white;
  font-size: 3rem;
  margin: 0px;
  font-style: oblique;
}
.flecheBas{
  height: 100px;
  width: 100px;

}